
.floating { 
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    padding-top: 17%;
}

.floating img {
    width: 20%;
    height: auto;
}
 
.bg-image {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("assets/background.jpg");
    background-size: cover;
    filter: blur(9px);
    transform: scale(1.1);
  }
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 35px); }
    100%   { transform: translate(0, -0px); }    
}

